<%- include('./layout/header.ejs') %> 
</head>
    <body>
        <%- include('./layout/nav.ejs') %> 
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item active" aria-current="page">Home</li>
          </ol>
        </nav>
        <main>
          <% if(title==='Search Product'){ %> 
            <h1>Found : <%= products.length %> </h1>
          <% } %> 
          <% if(products.length>0){ %> 
            <div class="album py-5 bg-light">
                <div class="container">
            
                  <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
                    <% for(let product of products){ %>
                    <div class="col">
                      <div class="mt-5 card shadow-sm">
                        <img class="bd-placeholder-img card-img-top overflow-hidden" width="100%" height="200" src="/<%= product.photo %> " alt="">
            
                        <div class="card-body">
                          <div class="d-flex justify-content-between">
                            <a href="/view-page/<%= product._id %> " class="card-link text-decoration-none overflow-hidden" style="height:22px;"><%= product.name %> </a>
                            <i class="fas fa-map-marker-alt text-danger float-right me-2"><label class="text-danger ml-4"><%= product.location %></label></i>
                          </div>
                          <p class="card-text overflow-hidden" style="height:50px;"><%= product.desc %></p>
                          <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                              <a href="/view-page/<%= product._id %> " class="btn btn-outline-success">View</a>
                                <a href="/edit/<%= product._id %>" class="btn btn-outline-primary">Edit</a>
                                <a href="/delete/<%= product._id %>" class="btn btn-outline-danger">Delete</a>

                              </div>
                            <small class="text-muted"><%= product.createdAt.toLocaleDateString() %> </small>
                          </div>
                        </div>
                      </div>
                    </div>
                    <% } %> 
                  </div>
                  <!-- <a href="/home?add=3" class="btn btn-outline-success">Add More</a> -->
                </div>
              </div>
              <% }else{ %> 
                <h1>Product not found</h1>
              <%}%>
          </main>
        <%- include('./layout/foot.ejs') %> 
    </body>
</html>