<%- include('./layout/header.ejs') %>
<style>
    main{
      width: 100vw;
    }
    @media (max-width:600px){
      .disable{
        display:none;
      }
    }
    @media (max-width:410px){
      .btn-group{
        width:10px;
        padding:1px;
        margin:0 auto;
      }
      .btn-group .btn{
        padding:2px;
        font-size: 0.9rem;
      }
      .main{
        width:auto !important;
        padding:3px 1px !important;
        margin:2px;
      }
      .table>:not(caption)>*>*{
        padding:0.3rem !important;
      }
      .btn-group{
        width:auto !important;
      }
    }
</style>
</head>
<body>
<%- include('./layout/nav.ejs') %>
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="/home">Home</a></li>
      <li class="breadcrumb-item active" aria-current="page">My List</li>
    </ol>
  </nav>
    <main class="p-lg-4 m-lg-2">
        <% if(products.length>0){ %>
        <table class="table table-hover">
            <thead>
              <tr>
                <th scope="col">No</th>
                <th class="disable" scope="col">_id</th>
                <th scope="col">Name</th>
                <th class="disable" scope="col">Location</th>
                <th scope="col">Handle</th>
              </tr>
            </thead>
            <tbody>
            <% for(let product of products){ %>
              <tr>
                <th scope="row"><%= i++ %></th>
                <td class="disable"><%= product._id %></td>
                <td ><%= product.name%></td>
                <td class="disable"><%= product.location%></td>
                <td class="btn-group">
                  <a href="/view-page/<%= product._id %> " class="btn btn-outline-success">View</a>
                    <a href="/edit/<%= product._id %>" class="btn btn-outline-primary">Edit</a>
                    <a href="/delete/<%= product._id %>" class="btn btn-outline-danger">Delete</a></td>
              </tr>
            <% } %>
            </tbody>
          </table>
          <% }else{ %>
            <div class="alert alert-primary" role="alert">
              Product Not Found <a href="/add-yours" class="alert-link">Add Yours</a>
            </div>
        <% } %>
    </main>

<%- include('./layout/foot.ejs') %>
</body>
</html>